<template>
    <div>
        <el-table :data="logs" style="width: 100%" id="logs-table" @row-click="handleRowClick" ref="logs_table">
            <el-table-column label="Date" prop="date.date" width="100px">
                <template slot-scope="scope">
                    {{ scope.row.date.date | moment('DD') }}&ndash;{{ scope.row.date.date | moment('MMM') | uppercase }}&ndash;{{ scope.row.date.date | moment('YY') }}
                </template>
            </el-table-column>
            <el-table-column label="Time" prop="date.date" width="120px">
                <template slot-scope="scope">
                    {{ scope.row.date.date | moment('h&thinsp;:&thinsp;mm&thinsp;:&thinsp;ss a') }}
                </template>
            </el-table-column>
            <el-table-column label="Log Level" prop="level" width="85px">
                <template slot-scope="scope">
                    <el-tag
                        size="small"
                        effect="dark"
                        :type="getLogType(scope.row.level)"
                    >
                        {{ scope.row.level | uppercase }}
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column label="Message" prop="context.message">
                <template slot-scope="scope">
                    <span>
                        {{ getMessage(scope) | truncate(200) }}
                    </span>
                </template>
            </el-table-column>
            <el-table-column type="expand" class="log-entry-details">
                <template slot-scope="props">
                    <div v-if="props.row.stack_traces.length">
                        <h2 class="prop-label">Stack Trace:</h2>
                        <stack-trace :trace="props.row.stack_traces"></stack-trace>
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    export default {
        name: "App.vue",
        data() {
            return {
                logs: [],
            }
        },
        methods: {
            getLogType(level) {
                switch(level) {
                    case 'emergency':
                    case 'alert':
                    case 'critical':
                    case 'error':
                        return 'danger';
                    case 'warning':
                        return 'warning';
                    case 'info':
                        return 'success';
                    case 'debug':
                        return 'info';
                    default:
                        return level;
                }
            },
            getMessage(scope) {
                return scope.row.context ? scope.row.context.message : 'N/A';
            },
            handleRowClick(row, column, event) {
                this.$refs.logs_table.toggleRowExpansion(row);
            }
        },
        mounted() {
            axios.get('/api/logs')
                .then(({ data }) => {
                    this.logs = Object.values(data)
                })
                .catch((error) => {
                    console.log(error)
                })
        }
    }
</script>

<style lang="scss">
    .prop-label {
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .el-table__header-wrapper {
        table.el-table__header {
            th {
                color: white;
            }
        }
    }

    .el-table__row {
        cursor: pointer;
    }

    .el-table__expand-icon {
        color: white;
        font-weight: bold;
    }

    .el-table__expanded-cell {
        background-color: #2d3744;

        &:hover {
            background-color: #2d3744 !important;
        }
    }
</style>
