<template>
    <div class="stack-trace">
        <div class="stack-trace--row" v-for="(line, i) in trace">
            <table>
                <tr>
                    <td class="stack-trace-row--number">[{{ i }}]</td>
                    <td class="stack-trace-row--info">
                        <em>{{ line.in }} ({{ line.line }}): {{ line.caught_at }}</em>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "stack-trace",
        props: ['trace'],
    }
</script>

<style lang="scss">
    .stack-trace {
        padding: 20px;
        border-radius: 5px;
        background-color: #1f1e1e;
        color: lighten(#0f8aff, 25%);
        border: solid 1px #4c6f92;
        font-family: Monospaced, monospace;

        .stack-trace--row {
            table {
                width: 100%;

                tr, th, td {
                    background-color: #1f1e1e;
                    border-bottom: solid 1px #4c6f92;

                    /*&:hover {*/
                    /*    background-color: #1f1e1e;*/
                    /*}*/
                }
                .stack-trace-row--number {
                    width: 40px;
                    font-weight: bold;
                    vertical-align: top;
                    text-align: center;

                    /*&:hover {*/
                    /*    background-color: #1f1e1e;*/
                    /*}*/
                }
                .stack-trace-row--info {
                    padding-left: 10px;
                }
            }
        }
    }
</style>